<h1>Welcome</h1>
<p>pg-quilter is a smoke-test build service for Postgres. It accepts
  a revision from the main Postgres tree and (optionally) one or more patches,
  builds the result, and runs the test suite. Builds are submitted (and build
  results are available) via an API.</p>
<p>Sign in to generate API tokens or check out the
  <a href="https://github.com/deafbybeheading/pg-quilter">pg-quilter code</a>
  to contribute improvements.</p>
<p><a class="btn btn-primary btn-lg">Get started &raquo;</a></p>
